[package]
name = "cleora"
version = "1.0.0"
authors = ["Piotr Babel <piotr.babel@synerise.com>", "Jacek Dabrowski <jack.dabrowski@synerise.com>"]
edition = "2018"
license-file = "LICENSE"
readme = "README.md"
description = """
Cleora is a general-purpose model for efficient, scalable learning of stable and inductive entity embeddings for heterogeneous relational data.
"""

[build]
rustflags = ["-C", "target-cpu=native"]

[dependencies]
bus = "2.2.3"
clap = "2.33.3"
env_logger = "0.8.1"
fnv = "1.0.7"
log = "0.4.11"
memmap = "0.7.0"
rayon = "1.5.0"
rustc-hash = "1.1.0"
smallvec = "1.4.2"
twox-hash = "1.6.0"
simdjson-rust = {git = "https://github.com/SunDoge/simdjson-rust"}

[dev-dependencies]
criterion = "0.3"
insta = "1.2.0"

[[bench]]
name = "cleora_benchmark"
harness = false

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
